<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/documentViewStyle.css') }}">

<html>
   <body>
	   <div class="header" id="navbar">
		  	<h2>Header</h2>
			<form id="search">
			  Search <input name="query" v-model="searchQuery">
			</form>
		</div>
    	<div id='container'>
	        <div id='emailList'>
	          <demo-grid
	            :data="items"
	            :columns="gridColumns"
	            :filter-key="searchQuery">
	          </demo-grid>
	        </div>
	        <div class="container">
	          <div class="emailContainer">
	            <script type="text/x-template" id="grid-template">
	              <table class="basicTable" id="emailTable">
	                <thead>
	                  <tr>
	                    <th v-for="key in columns" v-on:click="sortBy(key)" :class="{ active: sortKey == key }">
	                      [[key]]
	                    </th>
	                  </tr>
	                </thead>
	                <tbody>
	                  <tr v-for="email in filteredData" v-on:click="alert_user(email['ID'])">
	                    <td v-for="key in columns">
	                      [[ email[key] ]]
	                    </td>
	                  </tr>
	                </tbody>
	              </table>
	            </script>
	          </div>
	          <div id='document_containter'>
	            <div id='metadata'>
	              <table class="basicTable">
	                <thead>
	                  <tr>
	                    <th>Metadata</th>
	                    <th></th>
	                  </tr>
	                </thead>
	                <tr>
	                  <td>To: [[metadata_to]]</td>
	                  <td>From: [[metadata_from]]</td>
	                </tr>
	              <tr>
	                <td>Subject: [[metadata_subject]]</td>
	                <td>Date: [[metadata_date]]</td>
	              </tr>
	            </table>
	          </div>
	          <div id='document'>
	            <p v-html="message"></p>
	          </div>
	          <div id='email_buttons'>
	            <button type="button" class="button relevantButton" v-on:click="feedback(1)">Relevant</button>
	            <button type="button" class="button testButton" v-on:click="test()">TEST</button>
	            <button type="button" class="button notRelevantButton" v-on:click="feedback(0)">Not Relevant</button>
	          </div>

	          </div>
	      </div>
     </div>
	 <script src="https://unpkg.com/vue"></script>
	 <script src="{{url_for('static', filename='js/documentview.js')}}"></script>
	 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </body>
</html>
