<!doctype html>
<script src="https://unpkg.com/vue"></script>
<script src="{{url_for('static', filename='js/documentview.js')}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/documentViewStyle.css') }}">


<html>
   <body>
     <div id='container'>
       <div id='emailList'>
         <ul id="emailListVue">
          <li v-for="(item, index) in items" :key="index" v-on:click="alert_user(index)">
            [[index]], [[item.Date]], [[item.From]], [[item.To]], [[item.Subject]]
          </li>
        </ul>
       </div>
       <div id='document'>
         <p>[[message]]<p>
       </div>
     </div?
   </body>
</html>
