#emailList{
  float: left;
  width: 60%;
  height:100vh;
}

#emailTable{
  height:95vh;
  overflow-y: scroll;
}

#document_containter{
  float: right;
  width: 40%;
  height: 100vh;
  flex-grow: 1;
  position: fixed;
  top: 20px;
}

#document{
  white-space: pre-wrap;
  max-height: 85%;
  overflow-y: scroll;
}

.container {
  display: flex;
}

body {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}


table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 2px 15px;
}

.emailContainer {
  width: 400px
}
.basicTable thead {
  display: table-header-group;
}

/*.basicTable td {
  white-space: nowrap;
}*/

th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
